<section class="legal-page">
  <div class="container narrow">
    <h1>{{ "LEGAL.TERMS_TITLE" | translate }}</h1>
    <div class="content">
      <p class="intro">
        {{ "LEGAL.LAST_UPDATE" | translate }}:
        {{ "LEGAL.TERMS_UPDATE_DATE" | translate }}
      </p>

      <p>{{ "LEGAL.TERMS.META.PROVIDER" | translate }}</p>
      <p>{{ "LEGAL.TERMS.META.VERSION" | translate }}</p>
      <p>{{ "LEGAL.TERMS.META.SCOPE" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S1.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S1.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S1.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S1.P3" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S2.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S2.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S2.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S2.P3" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S3.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S3.P1" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S4.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S4.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S4.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S4.P3" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S5.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S5.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S5.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S5.P3" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S6.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S6.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S6.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S6.P3" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S6.P4" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S7.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S7.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S7.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S7.P3" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S8.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S8.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S8.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S8.P3" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S9.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S9.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S9.P2" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S10.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S10.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S10.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S10.P3" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S11.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S11.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S11.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S11.P3" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S11.P4" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S12.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S12.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S12.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S12.P3" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S12.P4" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S13.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S13.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S13.P2" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S13A.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S13A.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S13A.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S13A.P3" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S13A.P4" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S13A.P5" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S14.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S14.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S14.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S14.P3" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S15.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S15.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S15.P2" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S16.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S16.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S16.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S16.P3" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S17.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S17.P1" | translate }}</p>

      <h2>{{ "LEGAL.TERMS.S18.TITLE" | translate }}</h2>
      <p>{{ "LEGAL.TERMS.S18.P1" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S18.P2" | translate }}</p>
      <p>{{ "LEGAL.TERMS.S18.P3" | translate }}</p>
    </div>
  </div>
</section>
